<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shelfspot {{ shelfspot.id }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>Shelfspot {{shelfspot.shelf.name }} ({{ shelfspot.row_index }}, {{ shelfspot.col_index }})</h1>
    <form action="{% url 'configurator:select_playable' shelfspot.id %}" method="post">
      {% csrf_token %}
      <input type="text" placeholder="Search.." name="search_txt">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
<form action="{% url 'configurator:set_playable' shelfspot.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h3>In Library</h3></legend>
    {% if search_txt %}<p><strong>Results for {{ search_txt }}</strong></p>{% endif %}
    {% for selected_playable in playables_in_lib %}
        <input type="radio" name="playable_id" id="choice{{ forloop.counter }}" value="{{ selected_playable.id }}" {% if selected_playable.id == shelfspot.playable.id %} checked="checked" {% endif %}>
        <label for="choice{{ forloop.counter }}"><img src="{{ selected_playable.image_url }}"
                                               alt="{{ selected_playable.name }}" width="50">
                                                {{ selected_playable.name }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Select">
</form>

{% if search_txt %}
    <form action="{% url 'configurator:set_playable' shelfspot.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Search results for "{{ search_txt }}"</legend>
        {% for selected_playable in playables_not_in_lib %}
            <input type="radio" name="playable_id" id="choice{{ forloop.counter }}" value="{{ selected_playable.id }}" {% if selected_playable.id == shelfspot.playable.id %} checked="checked" {% endif %}>
            <label for="choice{{ forloop.counter }}"><img src="{{ selected_playable.image_url }}"
                                                   alt="{{ selected_playable.name }}" width="50">
                                                    {{ selected_playable.name }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Select">
    </form>
{% endif %}
</body>
</html>