<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VinylWallConfig - Shelf</title>
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@v0.163.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.163.0/examples/jsm/"
      }
    }
</script>
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
<script type="module" src="{% static 'configurator/js/ShelfRenderer.js' %}"></script>
<script type="module" src="{% static 'configurator/js/singleShelfInit.js' %}"></script>
<link rel="stylesheet" href="{% static 'configurator/style.css' %}">
<script src="{% static 'configurator/js/ldld.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'configurator/ldld.css' %}"/>
<body>
{% csrf_token %}
<div class="container-fluid min-vh-100 d-flex flex-column">
    <div class="row">
        <nav class="navbar navbar-expand-sm fixed-top bg-light p-0 shadow">
            <a class="navbar-brand" href="/active_shelf/">VinylWallConfig</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">SHELF <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shelfpicker">Collection</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/devices/">Devices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Albums</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row flex-grow-1 p-0 m-0">
        <div class="canvas-container">
            <canvas class="ShelfCanvas" id=ShelfCanvas{{ shelf.id }}></canvas>

            <button id='editButton'>
                <svg width="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title"
                     aria-describedby="desc" role="img" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <circle stroke-width="1" stroke-miterlimit="10" stroke="#b0b0b0"
                            fill="white" r="30" cy="32" cx="32" data-name="layer1" stroke-linejoin="round"
                            stroke-linecap="round"></circle>
                    <path stroke-width="2"
                          stroke-miterlimit="10" stroke="#202020" fill="none"
                          d="M44.889 26.138l1.882-1.883c1.941-1.94 1.439-4.584-.5-6.524s-4.584-2.442-6.525-.5l-1.882 1.883"
                          data-name="layer2" stroke-linejoin="round" stroke-linecap="round"></path>
                    <path d="M41.814 29.212l3.075-3.074-7.027-7.027-3.074 3.074M18.164 38.809l7.026 7.026"
                          stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer2"
                          stroke-linejoin="round" stroke-linecap="round"></path>
                    <path d="M25.19 45.835l16.624-16.623-7.026-7.027-16.624 16.624L16 47.999l9.19-2.164z"
                          stroke-width="2" stroke-miterlimit="10" stroke="#202020" fill="none" data-name="layer2"
                          stroke-linejoin="round" stroke-linecap="round"></path>
                </svg>
            </button>

            <div class="searchBar" id="searchBar">
                <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value=""/>
                <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="#666666"
                              d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"/>
                    </svg>
                </button>
            </div>
            <div id="my-loader" class="ldld full light">
            </div>
        </div>
    </div>
</div>
</body>
</html>